@model BibliotekaPubliczna.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzanie kontem";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zmień ustawienia swojego profilu.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmiana hasła", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Data zalogowania:</dt>
        <dd>
            @Model.LastLogin
        </dd>
        <dt>Administrator:</dt>
        <dd>
            @if (@User.IsInRole("Administrator"))
            {
                <text>TAK</text>
            }
            else         
            {
                <text>NIE</text>
            }


        </dd>
    </dl>
</div>
